/* ==================================================================================
# mv
================================================================================== */
.mv {
  position: relative;
}
.mv-figure-wrapper {
  img {
    width: 100%;
    @include mq("sp") {
      height: 50vh;
      margin-top: 50px;
      object-fit: cover;
      background: $primary-color;
    }
  }
}
/* ==================================================================================
# news
================================================================================== */
.news {
}
.news__inner {
  margin: 80px auto;
}
.news-content {
  background-color: #fff;
  max-width: 1100px;
  margin: 30px auto 90px;
  @include mq("sp") {
    width: 100%;
  }
}
.news-content__inner {
  padding: 60px 40px;
  @include mq("sp") {
    padding: 50px 10px;
  }
}
.news-header {
  color: $primary-color;
  text-align: center;
}
.news-header__above {
  font-size: 22px;
  font-weight: 700;
  @include mq("sp") {
    font-size: 16px;
  }
}
.news-header__below {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 700;
  @include mq("sp") {
    font-size: 24px;
    margin-top: 20px;
  }
}
.news-header__text {
  text-align: center;
  margin-top: 70px;
  font-size: 22px;
  font-weight: 500;
  line-height: 2;
  @include mq("sp") {
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.7;
  }
}
.news-date {
  text-align: center;
  margin-top: 50px;
}
.news-date__text {
  font-size: 30px;
  font-weight: 500;
  & + & {
    margin-top: 30px;
  }
  @include mq("sp") {
    font-size: 20px;
  }
}
.consult__text{
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}
/* ==================================================================================
# event
================================================================================== */
.event {
  margin-bottom: 120px;
  @include mq("sp") {
    margin-bottom: 60px;
  }
}

.event-lead {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
  font-size: 22px;
  font-weight: 500;
  @include mq("sp") {
    width: 80%;
    margin: 30px auto 20px;
  }
}
.event__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
.eventmain__title{
  margin-top: 60px;
}
.event__figure{
  margin-top: 60px;
  text-align: center;
}
.event__item {
  background-color: #fff;
  flex: 0 0 45%;
  margin: 30px auto 0;
  padding: 20px 15px 30px;
  display: flex;
  flex-direction: column;
  @include mq('sp'){
  flex:0 0 100%;
  max-width: 450px;
  }
}
.button__watch{
  padding:15px 80px;
  font-size: 24px;
  @include mq('sp'){
  padding: 10px 60px;
  font-size: 20px;
  }
}

.event__item-figure{
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 75%;
  }
}
.event__item-body{

}
.event__item-title{
color: $primary-color;
font-size: 18px;
font-weight: 700;
margin-top: 20px;
height: 70px;
text-align: center;
@include mq('sp'){
font-size: 18px;
}
}
.event__item-text{
margin-top: 10px;
margin-bottom: 30px;
font-size: 16px;
}
.event__item-zoom{
margin-top: 20px;
margin-bottom: 20px;
input[type=text]{
width: 100%;
}
}
.util__button._event{
margin-top: auto;
}
.util__button-link._event{
  margin: 0;
  font-size: 20px;
  padding: 10px 30px;
  }

  .consult__title{
    margin-top: 100px;
  }
/* ==================================================================================
# schedule
================================================================================== */
.schedule {
  table {
    background: #fff;
    width: 100%;
    padding: 20px 30px;
    margin: 100px auto;
    border-collapse: separate;
    border-spacing: 0 20px;
    @include mq("sp") {
      padding: 15px 10px;
      border-spacing: 0 10px;
      margin: 50px auto;
    }
    tr {
    }
    .schedule-time {
      background: rgba(112, 120, 127, 0.65);
      color: #fff;
      border-radius: 10px;
      padding: 20px 5px;
      width: 170px;
      font-size: 24px;
      text-align: center;
      @include mq("sp") {
        vertical-align: middle;
        width: 50px;
        padding: 10px;
        font-size: 14px;
      }
    }
    .schedule-text {
      border-collapse: collapse;
      background: rgba(#d0dbe2, 0.3);
      border-radius: 10px;
      padding: 20px 20px;
      font-size: 24px;
      @include mq("sp") {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}
/* ==================================================================================
# company
================================================================================== */
.company {
}
.company__inner {
  margin: 120px auto;
  @include mq("sp") {
    margin: 80px auto;
  }
}
.company-figure__wrapper {
  text-align: center;
}


/* ==================================================================================
# login page
================================================================================== */
.news-content._login{
  width: 60%;
  @include mq('sp'){
    width: 80%;
  }
}
.news-content__inner._login{

}
.event__password{
  font-size: 16px;
  text-align: center;margin-bottom: 20px;
}