@charset "utf-8";
// -----
// 初期化
// -----
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,body,h1,h2,h3,h4,ul,ol,dl,li,dt,dd,p,div,span,img,a,table,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}
li{
  list-style:none;
}
a{
    text-decoration: none;
}